<table class="table table-hover table-dark">
    <caption>Filtrado de Países</caption>
    <thead>
        <tr>
            <th scope="row"> País </th>
            <th scope="row"> Número de Población </th>
            <th scope="row"> Código Numérico </th>
            <th scope="row"> Código Alpha </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises">
            <td> {{pais.name}}  </td>
            <td>{{ pais.population | number}}</td>
            <td>{{ pais.numericCode}}</td>
            <td>{{ pais.alpha2Code}}</td>
        </tr>
    </tbody>
</table>
