<h3 style="text-align: center;">Bienvenido(a) al Portal de Búsquedas Por País</h3>
<hr>
<h5 style="text-align: center;">Seleccione un filtro de búsqueda ubicado del lado izquierdo</h5>
<hr>
<div style="display: flex; justify-content: center;" >
    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
    </svg>
</div>