<h1 style="text-align: center; color: white;">Búsqueda Por Capital</h1>

<hr>

<div class="row">
    <div class="col">
        <app-pais-input 
            (onEnter)="buscar($event)" 
            placeholder="Buscar Capital en Inglés, ej. Tokyo">
        </app-pais-input>
    </div>
</div>

<hr>

<div *ngIf="existeError" class="alert alert-danger">
    No existe la captal con el nombre "<strong>{{ termino }}</strong>"
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col-md-12">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>