<h1 routerLink="/">App Búsquedas</h1>
<hr>
<ul class="list-group">
    <li 
        routerLink="pais" 
        routerLinkActive="active" 
        class="list-group-item">
        Filtrar Por País
    </li>
    <li 
        routerLink="region" 
        routerLinkActive="active" 
        class="list-group-item">
        Filtrar Por Región
    </li>
    <li 
        routerLink="capital" 
        routerLinkActive="active" 
        class="list-group-item">
        Filtrar Por Capital
    </li>
</ul>