<h1 style="text-align: center; color: white;">Búsqueda Por Región (<small style="text-transform:capitalize;">{{ regionActiva }}</small>)</h1>

<h5 style="text-align: center; color: white;">Seleccione Una Región</h5>

<div class="row">
    <div class="col">
        
        <!-- [class.btn-success]="region === regionActiva" -->
        <!-- [ngClass]="{
            'btn-success': regionActiva === region,
            'btn-outline-success': regionActiva !== region
        }" -->
        
        <button 
            *ngFor="let region of regiones"
            [class]="(regionActiva === region) ? 'btn btn-success' : 'btn btn-outline-success'"
            
            (click)="activarRegion(region)">{{ region | titlecase }}
        </button>
    </div>
</div>

<hr>

<div *ngIf="regiones.length > 0" class="row">
    <div class="col-md-12">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>

