/* You can add global styles to this file, and also import other style files */

body {
    background-image: url('app/shared/img/fondo-mundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}