<form (ngSubmit)="buscar()" autocomplete="off">
    <div class="input-group mb-3">
        <input 
            type="text" 
            class="form-control"
            name="termino" 
            [(ngModel)]="termino"
            [placeholder]="placeholder">
        <div class="input-group-append">
            <button (click)="buscar()" class="btn btn-outline-success" type="button">Buscar</button>
        </div>
    </div>
</form>